# Токен вашего Telegram-бота (получите у @BotFather)
BOT_TOKEN=8263618011:AAGyH2h7ziuiWmtcV6EE-DS-stwH3L-CfqU

# Токен CryptoPay (получите у @CryptoBot / @CryptoPayTestBot)
CRYPTO_PAY_TOKEN=604050:AAUxXlusqiyuAKHvxZHoAp4KAGfjxmzAvBl

# ID администраторов через запятую (например, 123456789,987654321)
ADMIN_IDS=8440278509

# URL вашего Web App (опционально, если не на Render)
# WEBAPP_URL=https://your-webapp-url.com/
